name: Test

permissions:
  contents: write

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  rust-test:
    strategy:
      matrix:
        include:
          # - target: x86_64-apple-darwin
          #   os: macos-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          # - target: x86_64-pc-windows-gnu
          #   os: windows-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref || github.ref_name }}
      - uses: actions/setup-node@v4
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: cargo test
        run: |
          cargo test
      - name: cargo install
        run: |
          cargo install --path=.
      - name: install easy-install
        uses: ahaoboy/easy-setup@v1
        with:
          url: |-
            https://github.com/nushell/nushell
            https://github.com/ahaoboy/bloaty-build
            https://github.com/ahaoboy/metafile-viz

      - name: install metafile-image
        run: |
          npm i metafile-image -g
          metafile-image --version
          metafile-viz --version
      - name: Build & Run All
        run: |
          cat << 'EOF' > resources.json
          [
            {
              "name": "nu",
              "binary": "$(which nu)",
              "lock": "https://github.com/nushell/nushell/raw/refs/heads/main/Cargo.lock"
            },
            {
              "name": "cargo",
              "binary": "$(which cargo)",
              "lock": "https://github.com/rust-lang/cargo/raw/refs/heads/master/Cargo.lock"
            },
            {
              "name": "rustc",
              "binary": "$(which rustc)",
              "lock": "https://github.com/rust-lang/rust/raw/refs/heads/main/Cargo.lock"
            }
          ]
          EOF

          jq -c '.[]' resources.json | while read item; do
            name=$(echo "$item" | jq -r '.name')
            bin=$(echo "$item" | jq -r '.binary')
            lock_url=$(echo "$item" | jq -r '.lock')

            echo "Downloading lock: $lock_url"
            curl -L -o "$name.lock" "$lock_url"

            csv="${name}-${{ matrix.os }}.csv"
            json="${name}-${{ matrix.os }}.json"

            bloaty "$bin" -d sections,symbols -n 0 --csv > "$csv"

            bloaty-metafile "$csv" --name="$name" --lock="$name.lock" --no-sections > "$json"

            metafile-image "$json" "${name}-${{ matrix.os }}.png"
            metafile-viz   "$json" -o "${name}-${{ matrix.os }}-viz.png"
          done

          ls -lh .

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: bloaty-metafile-${{ matrix.os }}
          path: |
            *-${{ matrix.os }}*
