name: Test

permissions:
  contents: write

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  rust-test:
    strategy:
      matrix:
        include:
          # - target: x86_64-apple-darwin
          #   os: macos-latest
          - target: aarch64-apple-darwin
            os: macos-latest
          # - target: x86_64-pc-windows-gnu
          #   os: windows-latest
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref || github.ref_name }}
      - uses: actions/setup-node@v4
      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: cargo test
        run: |
          cargo test
      - name: cargo install
        run: |
          cargo install --path=.
      - name: install easy-install
        uses: ahaoboy/easy-setup@v1
        with:
          url: |-
            https://github.com/denoland/deno
            https://github.com/ahaoboy/bloaty-build
            https://github.com/ahaoboy/metafile-viz

      - name: build
        run: |
          cargo build --profile bloaty
      - name: bloaty-metafile.json
        run: |
          bloaty "$(which bloaty-metafile)" -d sections,symbols -n 0 --csv > bloaty-metafile-${{ matrix.os }}.csv
          bloaty-metafile bloaty-metafile-${{ matrix.os }}.csv --name=bloaty-metafile > bloaty-metafile-${{ matrix.os }}.json
          ls -lh
          npm i metafile-image -g
          metafile-image --version
          metafile-viz --version
          metafile-image bloaty-metafile-${{ matrix.os }}.json bloaty-metafile-${{ matrix.os }}.png
          metafile-viz bloaty-metafile-${{ matrix.os }}.json -o bloaty-metafile-${{ matrix.os }}-viz.png
      - name: deno.json
        run: |
          curl -L -o deno.lock  https://github.com/denoland/deno/raw/refs/heads/main/Cargo.lock

          # 100mb
          bloaty "$(which deno)" -d sections,symbols -n 0 --csv > deno-skip-${{ matrix.os }}.csv
          # 400mb
          bloaty-metafile deno-skip-${{ matrix.os }}.csv --name=deno --lock=deno.lock > deno-skip-${{ matrix.os }}.json
          ls -lh
          metafile-image deno-skip-${{ matrix.os }}.json deno-${{ matrix.os }}.png
          metafile-viz deno-skip-${{ matrix.os }}.json -o deno-${{ matrix.os }}-viz.png
      - name: cargo.json
        run: |
          curl -L -o cargo.lock  https://github.com/rust-lang/cargo/raw/refs/heads/master/Cargo.lock

          # 100mb
          bloaty "$(which cargo)" -d sections,symbols -n 0 --csv > cargo-skip-${{ matrix.os }}.csv
          # 400mb
          bloaty-metafile cargo-skip-${{ matrix.os }}.csv --name=cargo --lock=cargo.lock > cargo-skip-${{ matrix.os }}.json
          ls -lh
          metafile-image cargo-skip-${{ matrix.os }}.json cargo-${{ matrix.os }}.png
          metafile-viz cargo-skip-${{ matrix.os }}.json -o cargo-${{ matrix.os }}-viz.png
      - name: rustc.json
        run: |
          curl -L -o rustc.lock https://github.com/rust-lang/rust/raw/refs/heads/master/Cargo.lock

          # 100mb
          bloaty "$(which rustc)" -d sections,symbols -n 0 --csv > rustc-skip-${{ matrix.os }}.csv
          # 400mb
          bloaty-metafile rustc-skip-${{ matrix.os }}.csv --name=rustc --lock=rustc.lock > rustc-skip-${{ matrix.os }}.json
          ls -lh
          metafile-image rustc-skip-${{ matrix.os }}.json rustc-${{ matrix.os }}.png
          metafile-viz rustc-skip-${{ matrix.os }}.json -o rustc-${{ matrix.os }}-viz.png


      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: bloaty-metafile-${{ matrix.os }}
          path: |
            bloaty-metafile-${{ matrix.os }}*
            deno-${{ matrix.os }}*
            cargo-${{ matrix.os }}*
            rustc-${{ matrix.os }}*
